extends layout

block content
  
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              .post-preview
                  h2 Create Post
                  div
                    form(action='/files/upload', enctype="multipart/form-data", method='post')
                      div(data-role='fieldcontain', class="marginVertical")
                        fieldset(data-role='controlgroup')
                          label(for='content', class="col-md-4") Content
                          input(id='content', class="col-md-4" type='text',value='',name='content')
                      div(data-role='fieldcontain', class="marginVertical")
                        fieldset(data-role='controlgroup')
                          label(for='file', class="col-md-4") File
                          input(id='file', class="col-md-4" type='file',value='',name='file')
                      div#passworddiv(data-role='fieldcontain', class="marginVertical")
                      div(data-role='fieldcontain', class="marginVertical")   
                        input(type='submit', class="col-md-8", value='Create Post',data-transition='fade', data-theme='c')
              hr


